*.egg-info
.idea/
__pycache__/
images/croped/
ve/
frozen_east_text_detection.pb
handwrite_model
handwrite_model_TuTrain
AlphabetModel_FromHienDataset
AlphabetModel_FromHienDataset_NN
AlphabetModel_FromHienDataset_SVM

